:root {
    --main-color: #0060ad;
    --second-color: #ffc200;
    --bg-color: #e2e8f0;
    --txt-color-bright: #fff;
    --txt-color-dark: #666;
    --txt-color-darker: #000;
    --bs-color: rgba(0, 0, 0, 0.2);
    --hover-color: rgba(255, 194, 0, 0.65);

    --fz-biggest: clamp(1.6rem, 2.0vw, 2.5rem);
    --fz-big: clamp(1.1rem, 1.4vw, 1.7rem);
    --fz-med: clamp(1.1rem, 1.25vw, 1.4rem);
    --fz-small: clamp(1.0rem, 1.15vw, 1.2rem);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

h1 {
    font-size: var(--fz-biggest);
}

h2 {
    font-size: var(--fz-big);
}

h3 {
    font-size: var(--fz-small);
    color: var(--main-color);
}

.container {
    min-height: 100vh;

    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(300px, 1fr) 4fr;
}

.sidebar {
    padding: 30px 40px;
    background-color: var(--main-color);
    color: var(--txt-color-bright);

    grid-area: sidebar;
    grid-row: 1/3;
    grid-column: 1/2;

    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 100px;
}

.sidebar a {
    color: var(--txt-color-bright);
}

.sidebar .navi-links ul,
.sidebar .navi-branding ul {
    display: grid;
    grid-template-rows: auto;
    gap: 40px;
}

.sidebar ul,
.header ul {
    list-style: none;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar .logo img,
.nav-element img {
    margin-right: 20px;
    height: var(--fz-big);
    filter: invert(100%);
}

.nav-element a {
    font-size: var(--fz-big);
    font-weight: bold;

    display: flex;
    align-items: center;
}

.header {
    padding: 30px 80px;
    grid-area: header;
    grid-row: 1/2;
    grid-column: 2/6;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 50px 0;
}

.searchbar {
    grid-row: 1/2;
    grid-column: 1/2;

    display: flex;
    align-items: center;
}

.searchbar input {
    margin-right: 50px;
    padding: 0 20px;
    height: 50px;
    width: 100%;
    font-size: var(--fz-small);
    background-color: var(--bg-color);
    border-radius: 50px;
}

.searchbar img {
    margin-right: 20px;
    height: 35px;
}

.user-navi {
    grid-row: 1/2;
    grid-column: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.user-navi .user-img img,
.trending img {
    height: 65px;
}

.user-navi img {
    padding: 4px;
    height: 34px;
    border-radius: 50%;
}

.user-navi img:hover {
    background-color: var(--hover-color);
}

.user-name {
    font-size: var(--fz-small);
    font-weight: bold;
}

.user-welcome {
    grid-row: 2/3;
    grid-column: 1/2;

    display: flex;
    align-items: center;
}

.user-welcome .user-img-big img {
    margin-right: 30px;
    height: 100px;
}

.greeting {
    font-size: var(--fz-small);
    font-weight: bold;

}

.user-name-big {
    font-size: var(--fz-big);
    font-weight: bold;
}

.buttons {
    grid-row: 2/3;
    grid-column: 2/3;
}

.buttons ul {
    display: flex;
}

.buttons button {
    margin: 0 10px;
    padding: 10px 30px;
    font-size: var(--fz-small);
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--txt-color-bright);
    border-radius: 50px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: var(--hover-color);
    color: var(--txt-color-darker);
}

.content {
    padding: 60px 30px 5px;
    background-color: var(--bg-color);
    box-shadow: inset 0 7px 13px -7px var(--bs-color);

    grid-area: content;
    grid-row: 2/3;
    grid-column: 2/3;

    display: grid;
    grid-template-areas:
        "projects announcements"
        "projects trending"
        "footer footer";
    grid-template-rows: auto 1fr 40px;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}

.projects {
    grid-area: projects;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
}

.card {
    margin-top: 20px;
    padding: 40px 30px;
    background-color: var(--txt-color-bright);
    border-radius: 13px;
    border-left: 13px solid var(--main-color);
    box-shadow: 10px 10px 15px -10px var(--bs-color);

    display: grid;
    grid-template-rows: auto auto 1fr;
}

.card-text {
    margin: 10px 0 5px;
    font-size: var(--fz-small);
    color: var(--txt-color-dark);

    align-self: self-start;
}

.card-text span::after {
    content: "Read more...";
}

.card-icons {
    text-align: right;
    align-self: self-end;
}

.card a {
    color: var(--txt-color-dark);
}

.card-icons img {
    margin: 0 15px;
    padding: 4px;
    height: 34px;
    border-radius: 50%;
}

.card-icons img:hover {
    background-color: var(--hover-color);
}

.announcements {
    grid-area: announcements;
}

.announcement-wrapper {
    margin-top: 20px;
    padding: 40px 35px 20px;
    background-color: var(--txt-color-bright);
    border-radius: 13px;
    box-shadow: 10px 10px 15px -10px var(--bs-color);
}

.announcement {
    margin-bottom: 30px;
    border-bottom: 2px solid var(--bg-color);
}

.announcement:last-of-type {
    margin: 0;
    border: none;
}

.announcement div:first-of-type {
    font-size: var(--fz-small);
}

.announcement-content {
    padding: 0 10px;
}

.announcement-text {
    padding: 5px 0 30px;
    color: var(--txt-color-dark);

    align-self: self-start;
}

.trending {
    grid-area: trending;
}

.trending-wrapper {
    margin-top: 20px;
    padding: 20px 35px 20px;
    background-color: var(--txt-color-bright);
    border-radius: 13px;
    box-shadow: 10px 10px 15px -10px var(--bs-color);
}

.trending-wrapper a,
.footer a {
    color: var(--txt-color-darker);
}

.trending-content {
    margin: 30px 0;

    display: grid;
    grid-template-areas:
        "avatar user"
        "avatar claim";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr;
    gap: 5px 20px;
}

.trending-avatar {
    grid-area: avatar;
    align-self: center;
}

.trending-user {
    grid-area: user;
    align-self: self-end;
}

.trending-claim {
    grid-area: claim;
}

.trending-user,
.trending-claim {
    font-size: var(--fz-small);
}

.trending-claim {
    color: var(--txt-color-dark);
}

.footer {
    grid-area: footer;
    align-self: center;
    justify-self: center;
}

.footer img {
    height: 20px;
    vertical-align: middle;
}